/* main */

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Arial;
}

body{
  width: 100%;
  background-image: url(body1.png);
}

li{
  list-style-type: none;
}


a{
  text-decoration: none;
}

/* main */

/* Grid */

.grid{
  display: grid;
  grid-template-columns: 1fr 600px 600px 1fr;
  grid-template-areas:
  ". nav nav ."
  ". header header ."
  ". sidebar content ."
  ". footer footer .";
  grid-gap: 40px;
}

/* Grid */

/* navigation */

.nav{
  grid-area: nav;
  background-color: #222629;
}

.nav a{
  float: right;
  color: #fff;
  padding: 15px 25px 15px 15px;
  font-size: 20px;
}

.nav a:hover{
  color: #86c232;
}


/* navigation */

/* header */

.header{
  grid-area: header;
  background-color: #474b4f;
  height: auto;
}

.header .container{
  width: 600px;
  height: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #6b6e70;
  box-shadow: 4px 4px 35px #000;
}

.header h1{
  font-size: 30px;
  color: #86c232;
  text-align: center;
  padding-top: 15px;
}

.header p{
  color: #fff;
  font-size: 18px;
  text-align: center;
  padding: 10px;
}


/* header */

/* sidebar */

.sidebar{
  grid-area: sidebar;
  background-color: #474b4f;
}

.sidebar h2{
  color: #86c232;
  font-size: 25px;
  text-align: center;
  padding: 25px 15px 15px 15px;
}

.sidebar p{
  color: #fff;
  font-size: 18px;
  text-align: left;
  padding: 15px 15px 10px 15px;
}

.sidebar .about{
  width: 500px;
  height: auto;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #6b6e70;
}

/* sidebar */

/* content */

.content{
  grid-area: content;
  background-color: #474b4f;
}

.content h2{
  color: #86c232;
  font-size: 25px;
  text-align: center;
  padding: 25px 15px 15px 15px;
}

.content p{
  color: #fff;
  font-size: 18px;
  text-align: left;
  padding: 15px 15px 10px 15px;
}

.content strong{
  color: #86c232
}

/* content */

/* footer */

.footer{
  grid-area: footer;
  background-color: #222629;
}

.footer p{
  color: #fff;
  font-size: 18px;
  text-align: right;
  padding: 10px 15px 10px 15px;
}

/* footer */
